<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687605404997-j4mljqd9hj7rpis61dbf6latfek27e90.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687605404997-j4mljqd9hj7rpis61dbf6latfek27e90</string>
	<key>API_KEY</key>
	<string>AIzaSyCHvtGldSZS-6W3i_7t1GRhdvZfSsP74Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>687605404997</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Llama.InventoryProject1</string>
	<key>PROJECT_ID</key>
	<string>chemreserve-d952f</string>
	<key>STORAGE_BUCKET</key>
	<string>chemreserve-d952f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687605404997:ios:32b4b3a1906c829568da2c</string>
	<key>DATABASE_URL</key>
	<string>https://chemreserve-d952f.firebaseio.com</string>
</dict>
</plist>